
/* -------- RESET --------- */
*{
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
}


html, body {
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
    
}


/* ------------------------- CUSTOM CSS --------------------------- */

/* --------- Side navigation ------------ */
.side-nav-container{
 height: 100%;
 width: 215px;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #d0fff7;
 overflow-x: hidden;
 font-size: 1.5rem;
 opacity: 0.98;
 transition: all 0.1s linear;

 
 
 /* padding-top: 20px; */
}
.hide-sidenav{
  height: 0px;
  opacity: 0;

}

.logo {
  width: 6rem;
  margin-bottom: 50px;
  margin-top: 30px;
}

.navbar {
  padding: 0;
  
}
.nav-link {
   color: #383838 !important;
}

.nav-icon {
  margin-right: 20px;

}
.nav-link:hover {
  cursor: pointer;
  background-color: white;
}
.nav-burger {
  margin-top: 10px;
  /* margin-bottom: 10px; */
   width: 30px;
   position: fixed;
   top: 0;
   right: 10px;
 
}
.nav-burger:after,
.nav-burger:before,
.nav-burger div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  margin: 7px 0;
  transition: all .2s ease-in-out; 
}
.hide-burger {
  height: 0px;
  opacity: 0;
}

.close-btn-container {
  font-size: 3rem;
}
/* --------- Main content ------------ */
.main-content-container {
  background-color: #180931;
  color: white;
  /* margin-left: 215px; */
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 70%;
}

.page-name {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.sub-heading {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* ---- Stat Cards ---- */
.stat-card {
  color: black;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  background-color: #a6fbff;
}
.card-text {
  color : #383838
}
.card-title {
  font-weight: bold;
}


.button {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  border-radius: 3rem;
  background-color: white;
  border: 0px;
  margin-bottom: 1rem;
}

.button a, .button a:hover{
  text-decoration: none;
  color: inherit;
  
}
.button:hover {
  cursor: pointer;
  border: 5px solid #cbf3ff;
}


@media only screen and (min-width: 768px) {
  .main-content-container {
    margin-left: 215px;
    width: calc(100% - 215px);
  }

  .side-nav-container {
    padding-top: 5rem;
  }

  .hide-sidenav {
    height: 100%;
    opacity: 1;
  }

  .burger-container,
  .close-btn-container {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .page-name {
    margin-bottom: 4.5rem;
    margin-top: 3rem;
    font-size: 4rem;
  }

  .sub-heading {
    margin-bottom: 6.5rem;
    font-size: 2rem;
  }

  .btn-container {
    margin-top: 6rem;
  }
  .button{
    width: 200px;
    height: 85px;
    font-size: 1.4rem;

  }

  .stat-card {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 500px) {
  .crypto-list-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* -----Crypto Cards ----- */
.crypto-card {
  color: black;
}

.list-value{
  font-weight: bold;
}


/* ---- Pagination ----- */
.pagination-container {
  margin-top: 1rem;
}

/* ---Crypto list ---- */
.coin-icon {
  width: 40px;
  height: 40px;
}