
/* -------- RESET --------- */
*{
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
}


html, body {
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
}


/* ------------------------- CUSTOM CSS --------------------------- */

/* --------- Side navigation ------------ */
.side-nav-container{
 height: 100%;
 width: 215px;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #d0fff7;
 overflow-x: hidden;
 font-size: 1.5rem;
 opacity: 1;
 transition: all 0.1s linear;
 
 
 /* padding-top: 20px; */
}
.hide-sidenav{
  height: 0px;
  opacity: 0;

}

.logo {
  width: 60px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.navbar {
  padding: 0;
}
.nav-icon {
  margin-right: 20px;

}
.nav-icon:hover {
  cursor: pointer;
}
.nav-burger {
  margin-top: 10px;
  /* margin-bottom: 10px; */
   width: 30px;
   position: fixed;
   top: 0;
   right: 10px;
 
}
.nav-burger:after,
.nav-burger:before,
.nav-burger div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  margin: 7px 0;
  transition: all .2s ease-in-out; 
}
.hide-burger {
  height: 0px;
  opacity: 0;
}

.close-btn-container {
  font-size: 3rem;
}
/* --------- Main content ------------ */
.main-content-container {
  background-color: #180931;
  color: white;
  /* margin-left: 215px; */
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;

}
.main-content {
  width: 70%;
}

.page-name {
  margin-bottom: 1.5rem;
}

/* ---- Stat Cards ---- */
.stat-card {
  color: black;
  margin-bottom: 10px;
  font-size: 0.9rem;
  background-color: #a6fbff;
}
.card-text {
  color : #383838
}
